<h1>{{title}}</h1>
<input type="text" #name placeholder="Enter the Name" name="name"><br>

<input type="email" #email placeholder="Enter the Email" name="email"><br>

<input type="text" #address placeholder="Enter the Address" name="address"><br>

<input type="password" #password placeholder="Enter the Password" name="password"><br>

<button (click) = "getValue(name.value , address.value ,email.value  , password.value)" >Register</button>

<h1>Registred data</h1>

<p>Name:{{displayName}}</p>
<p>Email:{{displayEmail}}</p>
<p>Address:{{displayAddress}}</p>
